include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include LICENSE_rioxarray
include requirements.txt
include README.rst

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat

include geoxarray/version.py