name: Deploy sdist

on:
  release:
    types:
      - published
  push:
  pull_request:

jobs:
  build_sdist:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Create sdist
        shell: bash -l {0}
        run: python -m pip install build; python -m build

      - name: Upload sdist to build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*.tar.gz

  upload_pypi:
    needs: [ build_sdist ]
    runs-on: ubuntu-latest
    if: github.event.action == 'published'
    environment:
      name: pypi
      url: https://pypi.org/p/geoxarray
    permissions:
      id-token: write
    steps:
      - name: Download sdist artifact
        uses: actions/download-artifact@v4
        with:
          name: sdist
          path: dist
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.8.14
        with:
          skip-existing: true
